<div class="home row">
    <div class="col-md-12">
        <uib-carousel interval="interval">
            <uib-slide ng-repeat="slide in sliderImages track by $index" index="$index">
                <img ng-src="{{slide}}" style="margin:auto;">
                <div class="carousel-caption">
                </div>
            </uib-slide>
        </uib-carousel>
    </div> 

    <div class="col-md-12 about-us">
        <h1 class="title">НАШИ ДОСТОИНСТВА:</h1>
        <div class="list-items row">
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-cubes"></i>
                <h3>Самый широкий ассортимент</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-thumbs-up"></i>
                <h3>Наилучшее качество</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-truck"></i>
                <h3>Оперативные отправки в любые уголки планеты</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-rub"></i>
                <h3>Доступные цены</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-smile-o"></i>
                <h3>Индивидуальный подход к каждому клиенту</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-comments"></i>
                <h3>Приятный сервис</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-percent"></i>
                <h3>Постоянные скидки и акции</h3>
            </div>
            <div class="item col-md-3 col-sm-4 col-xs-6">
                <i class="fa fa-line-chart"></i>
                <h3>Огромный опыт работы</h3>
            </div>
        </div>
    </div>   

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9 col-sm-8" ng-if="news">
                <h1 class="title">Последние новости</h1>
                <div class="news-item" ng-repeat="item in news">
                    <h3>{{item.title}}</h3>
                    <p>{{item.text}}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <!-- VK Widget -->
                <div id="vk_groups" class="pull-right top20"></div>
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "320", color1: 'FFFFFF', color2: '333333', color3: 'f55d68'}, 87634319);
                </script>
            </div>
        </div>
        
    </div> 
    <div class="col-md-12">

    </div> 
</div>