<div class="row faq">
    <div class="col-md-12">
        <div class="faq-item">
            <h3>Как сделать заказ?</h3>
            <p>В настоящее время заказы принимаются по email или Вконтакте. Вы можете просто <a ui-sref="contacts">оставить заявку</a>, и с вами свяжутся в ближайшее время. Скоро можно будет оформить и оплатить заказ в автоматическом режиме прямо на этом сайте.</p>
            <p>Скачайте <a target="_self" href="/doc/Blank-zakaza.xlsx" download="alopto-blank-zakaza.xlsx"><i class="fa fa-file-excel-o"></i> бланк заказа</a>, 
                заполните его и отправьте на email <a href="mailto:manager@alopto.ru">manager@alopto.ru</a> или Вконтакте менеджеру <a href="https://vk.com/taganrog_zagotovki" target="_blank">Виктории</a> или <a href="https://vk.com/sublimation.blank" target="_blank">Дмитрию</a></p>
        </div>
        <div class="faq-item">
            <h3>Как осуществляется доставка?</h3>
            <p>Доставка осуществляется любым удобным для вас способом. Например, любой транспортной компанией, которая есть в г. Таганрог (Энергия, ПЭК, КИТ, Деловые линии, СДЭК и другие). Так же возможна отправка прямым рейсовым автобусом или самовывозом с нашего склада. Отправляем почтой только в самых крайних случаях.</p>
        </div>
        <div class="faq-item">
            <h3>Как можно оплатить?</h3>
            <p>Оплату принимаем, в основном, на Сбербанк. Так же возможен перевод Золотой короной (в основном, это касается жителей Казахстана). Скоро появится возможность оплаты с нашего сайта различными способами.</p>
        </div>
        <div class="faq-item">
            <h3>Какие гарантии, что мы получим свой заказ?</h3>
            <p>Мы работаем уже 1,5 года. Многие о нас знают и работают с нами. Чтобы убедиться в нашей надежности достаточно посетить <a href="https://vk.com/sublimacover" target="_blank">нашу группу Вконтакте</a>, которая существует с первого дня работы. Есть достаточно <a ui-sref="reviews">отзывов от наших клиентов</a>, которые являются реальными покупателями. Почитайте нашу стену, посетите страницы менеджеров и директора. Все сомненья сразу уйдут.</p>
        </div>
        <div class="faq-item">
            <h3>Возможна отправка наложенным платежом почтой России?</h3>
            <p>Нет, так не отправляем. Мы работаем с почтой России только в самый крайних случаях, например, нет транспортных компаний в городе. Почтой России на порядок дороже, дольше и менее надежно. Основной причиной является то, что для отправки почтой наложенным платежом нужно сходить на почту 2 раза (отправить и получить перевод), у нас это достаточно проблематично и порою занимает до 2х часов. Зачем вам наложенный платеж? Если есть сомненья, то посмотрите вопрос на 1 пункт выше.</p>
        </div>
        <div class="faq-item">
            <h3>Сколько будет стоить доставка в мой город?</h3>
            <p>Доставка зависит от способа отправки, веса и города. Вы можете зайти на сайт интересующей вас транспортой компании и узнать примерную стоимость. Обычно при весе до 5кг - это 150-400 рублей. Вес 3D чехла примерно 25г, вес 1 2D чехла примерно 30г.</p>
        </div>
        <div class="faq-item">
            <h3>Какое качество товара?</h3>
            <p>Мы перебрали десятки заводов в Китае и сотни поставщиков, прежде чем найти идеальное качество. Поэтому мы с огромной уверенностью можем сказать, что наши чехлы идеально возможного качества. Почитайте наши <a ui-sref="reviews">отзывы</a>. У нас не было ни одного возврата. Даже если вам что-то не понравится мы с радостью решим этот вопрос.</p>
        </div>

        <div class="faq-item contact-us-item align-center">
            <h3>Остались вопросы?</h3>
            <a ui-sref="contacts" class="btn btn-primary">Задайте их нам</a>
        </div>
    </div>
    
</div>