.contacts {
    padding-top: 25px;
}
    .conttacts-info {

    }

        .contacts .conttacts-info .contact-title {
            margin: 30px 0 15px;
            font-size: 18px;
        }

        .contacts .conttacts-info i.fa {
            margin-right: 10px;
            font-size: 18px;
            color: #f55d68;
        }